<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976815233995-v7r945sckp27i6s538k8pntqhmcda28q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976815233995-v7r945sckp27i6s538k8pntqhmcda28q</string>
	<key>API_KEY</key>
	<string>AIzaSyDEc5kBRji0hcY8Ct0c-OJ2dZHVzKqhySo</string>
	<key>GCM_SENDER_ID</key>
	<string>976815233995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.microblink.BlinkItems</string>
	<key>PROJECT_ID</key>
	<string>blinkInventoryManager-289713</string>
	<key>STORAGE_BUCKET</key>
	<string>blinkInventoryManager-289713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976815233995:ios:d23f2b5d64f569cd4c344e</string>
	<key>DATABASE_URL</key>
	<string>https://blinkInventoryManager-289713.firebaseio.com</string>
</dict>
</plist>